# DEPURACIÓN SEMIDUPLICADOS IDEALISTA

In [ ]:
# Librerias
import pandas as pd

In [ ]:
# Cargamos los datos
path = "Madrid_Idealista_Variable_Seleccionadas.csv"
dataset = pd.read_csv(path)
dataset.head()

   Unnamed: 0 floor     price  ... hasParking  parkingIncludedInPrice parkingPrice
0           0    bj  130000.0  ...       True                    True          0.0
1           1     4  135000.0  ...      False                   False          0.0
2           2     1   95000.0  ...      False                   False          0.0
3           3     1  114900.0  ...      False                   False          0.0
4           4     3  134900.0  ...      False                   False          0.0

[5 rows x 14 columns]

In [ ]:
# Columnas:
dataset.columns

Index(['Unnamed: 0', 'floor', 'price', 'propertyType', 'size', 'address',
       'district', 'neighborhood', 'latitude', 'longitude', 'showAddress',
       'hasParking', 'parkingIncludedInPrice', 'parkingPrice'],
      dtype='object')

In [ ]:
# Número de registros que contiene el dataset.
print("El dataset contiene un total de {} documentos.\n".format(len(dataset)))
# Número de duplicados (todas las categorías menos el precio).
print("Existen {} registros duplicados.\n".format(dataset.duplicated(subset=['floor', 'propertyType', 'size', 'address',
                                                                             'district', 'neighborhood', 'latitude', 'longitude', 'showAddress',
                                                                             'hasParking', 'parkingIncludedInPrice', 'parkingPrice']).sum()))

El dataset contiene un total de 18905 documentos.

Existen 155 registros duplicados.

In [ ]:
# Se eliminan los duplicados:
dataset = dataset.drop_duplicates(subset=['floor', 'propertyType', 'size', 'address',
                                          'district', 'neighborhood', 'latitude', 'longitude', 'showAddress',
                                          'hasParking', 'parkingIncludedInPrice', 'parkingPrice'])
# Se comprueba que se han eliminado dichos duplicados:
print("Existen {} registros duplicados.\n".format(dataset.duplicated(subset=['floor', 'propertyType', 'size', 'address',
                                                                             'district', 'neighborhood', 'latitude', 'longitude', 'showAddress',
                                                                             'hasParking', 'parkingIncludedInPrice', 'parkingPrice']).sum()))

Existen 0 registros duplicados.

In [ ]:
# Se guarda el dataset:
dataset.to_csv("madrid_idealista_depurado.csv")